main {
    width: 100%;
    padding: 0%;
    margin: 12% 0% 5% 0%;
    display: flex;
    background-image: url("../Resources/paper.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: center;

}

#letter {
    display: flex;
    width: 100%;
    padding-left: 0%;
    padding-right: 0%;
    margin: 5% 0%;
    padding-top: 1rem;
    padding-bottom: 6rem;
    justify-content: center;

}

form {
    width: 20%;
    padding: 0%;
    padding-left: .75%;
    margin: 0;
    color: #0671b7;
    justify-items: center;
    text-align: left;
    background-color: #dde2e5;
    z-index: 500;
}


textarea, input {
    color: #0671b7;
    border-style: dotted;
    border-color: white; 
    

}

textarea:hover, input:hover {
    border-style: dotted;
    border-color: #f8b7cd; 

}


#submit {
    color: #0671b7;
    border: none;
    background-color: #f8b7cd;
    padding: .75rem;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.25rem;
    letter-spacing: .2rem;

}

#submit:hover {
    color: white;
}

form p {
    font-family: 'Nunito', sans-serif;
    font-size: 1.25rem;
    letter-spacing: .10rem;

}

textarea {
    border: none;
    width: 90%;
}


@media only screen and (max-width: 768px) and (min-width: 315px) {
    main {
        margin: 10% 0%;
        background-color: #dde2e5;
        width: 100%;
        background-image: none;
    }

    form {
        width: 90%;
      
    }

    form p {
        font-size: 1rem;
      
    }

    textarea {
        width: 90%;
    }
}

@media only screen and (max-width: 1025px) and (min-width: 769px) {

    form {
        margin-top: 5%;
        width: 25%;
        height: 90%;
        background-color: transparent;
        padding-bottom: none;
    }

    form p {
        font-size: .85rem;
        color: #0371ba;
 
      
    }

    textarea {
        width: 90%;
        height: 25%;
    }

}

@media only screen and (max-width: 1200px) and (min-width: 1026px) {

    form {
        margin-top: 3%;
        width: 25%;
        height: 88%;
        padding-bottom: none;
    }


    form p {
        font-size: .85rem;
        color: #0371ba;
    }

    textarea {
        width: 90%;
        height: 25%;
    }


}

@media only screen and (max-width: 1652px) and (min-width: 1201px) {


    form {
        margin-top: 3%;
        width: 25%;
        height: 88%;
        padding-bottom: none;
        padding: 0;

    }


    form p {
        font-size: 1rem;
        color: #0371ba;
    }

    textarea {
        width: 90%;
        height: 25%;
    }

}