
main {
    width: 100%;
    padding: 0%;
    margin: 12% 0% 5% 0%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1;
    justify-items: center;
    align-items: center;

}

#letter {
    display:block;
    width: 100%;
    padding-left: 0%;
    padding-right: 0%;
    margin: 0%;
    padding-top: 2.5rem;
    padding-bottom: 6rem;
    background-image: url("../Resources/paper.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    grid-area: 1 / 1 / span 1/ span 1;
    justify-items: center;
}
form {
    width: 100%;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 5.10rem;
    padding-bottom: 6rem;
    margin: 0rem;
    color: #0671b7;
    grid-area: 1 / 1 / span 1/ span 1;
    justify-items: center;
    text-align: center;
}


input  {
    color: #0671b7;
    border: none;
    
}

#submit{
    color: #0671b7;
    border: none;
    background-color: #f8b7cd;
    padding: .75rem;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.25rem;
    letter-spacing: .3rem;

}

form p {
    font-size: 1.25rem;
    
}

textarea {
    border: none;
}

container {
    width: 100%;
    margin: 0%;
    padding: 0%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1;
    justify-items: center;
    align-items: center;

}

send#sending {
    width: 100%;
    margin: 0%;
    padding: 0%;
    display: none;
    padding-top: 0rem;
    background-image: url("../Resources/stamp.gif") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

p.send {
    color: #0671b7;
    position: absolute;
    margin-top: 10rem;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
    grid-area: 1 / 1 / span 1/ span 1;
    justify-items: center;
    align-items: center;
    align-self: center; 
    
}

input#send{
    color: #0671b7;
    border: none;
    background-color: #f8b7cd;
    padding: 1rem;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.5rem;
    letter-spacing: .3rem;
    margin-top: 40rem;
    grid-area: 1 / 1 / span 1/ span 1;
    justify-items: center;
    
}

@media only screen and (max-width: 1530px) and (min-width: 1025px) {

    p.letter {
        font-size: 1rem;
    }
    textarea#message.letter {
        width: 20rem;

    }
    input#send{
 
        margin-top: 30rem;
   
    }

}

@media only screen and (max-width: 1024px) and (min-width: 769px) {

    p.letter {
        font-size: .85rem;
    }
    textarea#message.letter {
        width: 15rem;
    
    }
    input#send{
 
        margin-top: 30rem;
       
    }
}

@media only screen and (max-width: 768px) and (min-width: 481px) {

    p.letter {
        font-size: .85rem;
    }
    textarea#message.letter {
        width: 15rem;
        
    }

    header {
        margin-bottom: 0%;
    }

    input#send{
 
        margin-top: 25rem;
           
    }

    p.send {
        margin-top: 8rem;
        font-size: 1rem;
    }
}

@media only screen and (max-width: 480px) and (min-width: 320px) {

    p.letter {
        font-size: .85rem;
    }
    textarea#message.letter {
        width: 15rem;
            
    }
    
    header {
        margin-bottom: 0%;
    }

    form.letter {
        padding-top: 0%;
    }

    letter#letter.letter {
        padding-top: 0%;

    }

    #letter {
        background-image: none;
        background-color:#dde2e5;
                
    }

    input#send{
 
        margin-top: 25rem;
               
    }
    
    p.send {
        margin-top: 8rem;
        font-size: 1rem;
    }

        
}
