main {
    width: 100%;
    margin: 15% 0%;
    padding: 0%;
    overflow: hidden;

}

.project-div {
    width: 100%;
    margin: 0%;
    padding: 0%;
    display: flex;
    flex-direction: column;
    align-items: center; 

}

h1 {
    font-family: 'Nunito', sans-serif;
    color: #0671b7;
    letter-spacing: .10rem;
    font-size: 3rem;
}

h1:hover {

    color:pink ;

}

.photo-div {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
img.photo {
    width: 100%;
    height: 600px;
}

#blurb {
    margin-top: 2rem;
    font-family: 'Nunito', sans-serif;
    font-size: 1.25rem;
    color:#60a0d3 ;
    letter-spacing: .10rem;
}

#blurb p:hover {

    color:pink ;

}

button {
    margin: 0%;
    margin-top: 5%;
    color: #0671b7;
    border: none;
    background-color: #f8b7cd;
    padding: .75rem;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.25rem;
    letter-spacing: .3rem;
    width: 200px;
    line-height: 1.75rem;
}

button:hover {
    color: white;
}

#photo-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.photo {

    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;

}
@media only screen and (max-width: 768px) and (min-width: 315px) {
    main {
        margin: 5% 0% 20% 0% ;
    }
    h1 {
    
        font-size: 2rem;
    }

    #blurb {
        margin-top: 1rem;
        font-size: 1rem;
    }

    #photo-container {

        height: 300px;
        margin-bottom: 3%;
    }

    .photo-div {
        width: 90%;

    }

    button {

        margin-top: 5%;
        font-size: 1rem;
    }
}

@media only screen and (max-width: 1025px) and (min-width: 769px) {

    main {
        margin: 25% 0% 10% 0% ;
    }
}
@media only screen and (max-width: 1260px) and (min-width: 1026px) {

    main {
        margin: 20% 0% 5% 0% ;
    }

}