html {
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
    font-size: 16px;
}

body {
    width: 100%;
    margin: 0%;
    padding: 0%;
 
}

header {
    width: 100%;
    margin: 0%;
    padding: 0%;
    display: grid;
    grid-template-columns: 30% 10% 60%;
    grid-template-rows: 1;
}

nav {
    grid-area: 1 / 3 /span 1/ span 1;
    margin-right: 10rem;

}
nav li {
    display: flex;
    padding-bottom: 20px;
    color: #60a0d3;
    list-style-type: none;
    float: right;
    font-family: 'Nunito', sans-serif;
    letter-spacing: 1rem;
    padding-top: 9rem;
    margin-right: 10px;
    justify-content: flex-end;
  
}

ul {
    margin: 0% 0% 0% 0%;
}


nav a{
    color: #60a0d3;
    text-decoration: none;
}

img.flower:hover {
    transform: rotate(1.3turn);
    transition: transform 1.75s;
 

}

logo {
    font-size: 8.5rem;
    margin-left: 10rem;
    font-weight: bold;
    margin-bottom: 0px;
    padding-top: 4rem;
    display: block;
    color: #f8b7cd;  
    padding-bottom: 0%;
    grid-area: 1 / 1 / span 1/ span 1;
}
logo a {
    text-decoration: none;
    color: #f8b7cd;
}

main {
    width: 100%;
    margin: 0%;
    padding: 0%;
    display: grid;
    grid-template-columns: 15% 30% 10% 30% 15%;
    grid-template-rows: 1;
    margin-top: 5rem;
    margin-bottom: 5rem;
}


#portrait {
    grid-area: 1 / 4/ span 1/ span 1;
  
}

.bio {
    grid-area: 1 / 2/ span 1/ span 1;
}

h1 {
    font-family: 'Nunito', sans-serif;
    color: #0671b7;
    letter-spacing: .10rem;
    font-size: 3rem;
}

p.bio {
    margin-top: 9rem;
    font-family: 'Nunito', sans-serif;
    font-size: 1.25rem;
    color:#60a0d3 ;
    letter-spacing: .10rem;
}

