html {
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
    font-size: 16px;
}

body {
    width: 100%;
    margin: 0%;
    padding: 0%;
    
}

header {
    width: 100%;
    margin: 0%;
    padding: 0%;
    display: grid;
    grid-template-columns: 30% 10% 60%;
    grid-template-rows: 1;
}

nav {
    grid-area: 1 / 3 /span 1/ span 1;
    margin-right: 10rem;

}
nav li {
    display: flex;
    padding-bottom: 20px;
    color: #60a0d3;
    list-style-type: none;
    float: right;
    font-family: 'Nunito', sans-serif;
    letter-spacing: 1rem;
    padding-top: 9rem;
    margin-right: 10px;
    justify-content: flex-end;
  
}

ul {
    margin: 0% 0% 0% 0%;
}


nav a{
    color: #60a0d3;
    text-decoration: none;
}

img.flower:hover {
    transform: rotate(1.3turn);
    transition: transform 1.75s;
 

}

logo {
    font-size: 8.5rem;
    margin-left: 10rem;
    font-weight: bold;
    margin-bottom: 0px;
    padding-top: 4rem;
    display: block;
    color: #f8b7cd;  
    padding-bottom: 0%;
    grid-area: 1 / 1 / span 1/ span 1;
}
logo a {
    text-decoration: none;
    color: #f8b7cd;
}

#letter {
    display: block;
    padding-top: 2.5rem;
    padding-bottom: 6rem;
    background-image: url("/Users/jenna/Desktop/Coding Projects/portfolio site/Resources/paper.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
form {
    padding-top: 5.10rem;
    padding-bottom: 6rem;
    margin: 0rem 5rem 0rem 40rem;
    color: #0671b7;
}


input  {
    color: #0671b7;
    border: none;
    
}

#submit{
    color: #0671b7;
    border: none;
    background-color: #f8b7cd;
    padding: 1rem;
    border-radius: 5px;
    margin-left: 8rem;
    font-weight: bold;
    font-size: 1.5rem;
    letter-spacing: .3rem;
}
form p {
    font-size: 1.25rem;
    
}

textarea {
    border: none;
}

#sending {
    display: none;
    padding-top: 0rem;
    background-image: url("/Users/jenna/Desktop/Coding Projects/portfolio site/Resources/stamp.gif") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

p.send {
    color: #0671b7;
    margin-left: 50rem;
    position: absolute;
    margin-top: 23rem;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
    
    
    
}

input#send{
    color: #0671b7;
    border: none;
    background-color: #f8b7cd;
    padding: 1rem;
    border-radius: 5px;
    margin-left: 50rem;
    font-weight: bold;
    font-size: 1.5rem;
    letter-spacing: .3rem;
    margin-top: 35rem;
    
}
